:host {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  text-transform: uppercase;
  svg {
    width: 24px;
    height: 24px;
  }
}
