<div class="half">
  <die-panel [label]="'ability'" [sides]="ability" [roll$]="rollClick$" (rolled)="pipsRolled($event)"></die-panel>
  <die-panel [label]="'boost'" [sides]="boost" [roll$]="rollClick$" (rolled)="pipsRolled($event)"></die-panel>
  <die-panel [label]="'challenge'" [sides]="challenge" [roll$]="rollClick$" (rolled)="pipsRolled($event)"></die-panel>
  <die-panel [label]="'difficulty'" [sides]="difficulty" [roll$]="rollClick$" (rolled)="pipsRolled($event)"></die-panel>
  <die-panel [label]="'force'" [sides]="force" [roll$]="rollClick$" (rolled)="pipsRolled($event)"></die-panel>
  <die-panel [label]="'proficiency'" [sides]="proficiency" [roll$]="rollClick$" (rolled)="pipsRolled($event)"></die-panel>
  <die-panel [label]="'setback'" [sides]="setback" [roll$]="rollClick$" (rolled)="pipsRolled($event)"></die-panel>
  <button (click)="doRoll($event)" class="mdl-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">cached</i>
  </button>
</div>
<div class="half">
  <div class="face" *ngFor="let value of face$ | async">
    <!-- <div *ngIf="value.dieType === 'difficulty'; then icon else text"></div> -->
    <!-- <ng-template #icon><eote-icon [svgIcon]="value.dieType + ':' + value.face.join(' ')"></eote-icon></ng-template> -->
    <!-- <ng-template #text> -->
      <div>{{value.dieType}}</div>
      <div *ngFor="let pip of value.face">
        {{pip}}
      </div>
    <!-- </ng-template> -->
  </div>
  <div>NET SUCCESS: {{
    (result$ | async).success
    + (result$ | async).triumph
    - (result$ | async).failure
    - (result$ | async).despair
  }}</div>
  <div>NET ADVANTAGE: {{(result$ | async).advantage - (result$ | async).threat}}</div>
  <div>NET CRITICAL: {{(result$ | async).triumph}}</div>
  <div>NET DESPAIR: {{(result$ | async).despair}}</div>
</div>
