:host {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;

  button {
    float: right;
    svg {
      width: 24px;
      height: 24px;
      fill: white;
    }
  }

}

[left] {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

[right] {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.face-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.mdl-button--fab {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.mdl-card {
  width: 120px;
  min-height: 120px;
  margin: 4px;
}
