:host {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

die-panel {
  padding-bottom: 20px;
}

[left] {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

[right] {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.face-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.results-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 1 auto;
  div {
    margin: 5px;
  }
}

.mdl-button--fab {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 2;
  svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
}

.mdl-card {
  width: 120px;
  min-height: 120px;
  margin: 4px;
}
